@font-face {
  font-family: "Branding SF";
  src:
    url("/public/fonts/brandingsf/BrandingSF-Black.ttf") format("truetype"),
    url("/public/fonts/brandingsf/BrandingSF-BlackItalic.ttf")
      format("truetype"),
    url("/public/fonts/brandingsf/BrandingSF-Bold.ttf") format("truetype"),
    url("/public/fonts/brandingsf/BrandingSF-BoldItalic.ttf") format("truetype"),
    url("/public/fonts/brandingsf/BrandingSF-Light.ttf") format("truetype"),
    url("/public/fonts/brandingsf/BrandingSF-LightItalic.ttf")
      format("truetype"),
    url("/public/fonts/brandingsf/BrandingSF-Medium.ttf") format("truetype"),
    url("/public/fonts/brandingsf/BrandingSF-MediumItalic.ttf")
      format("truetype"),
    url("/public/fonts/brandingsf/BrandingSF-SemiBold.ttf") format("truetype"),
    url("/public/fonts/brandingsf/BrandingSF-SemiBoldItalic.ttf")
      format("truetype"),
    url("/public/fonts/brandingsf/BrandingSF-SemiLight.ttf") format("truetype"),
    url("/public/fonts/brandingsf/BrandingSF-SemiLightItalic.ttf")
      format("truetype"),
    url("/public/fonts/brandingsf/BrandingSF-Thin.ttf") format("truetype"),
    url("/public/fonts/brandingsf/BrandingSF-ThinItalic.ttf") format("truetype");
}
* {
  font-family: "Branding SF";
}
