@font-face {
  font-family: "Branding SF";
  src:
    url("/public/fonts/brandingsf/BrandingSF-Black.ttf") format("truetype"),
    url("/public/fonts/brandingsf/BrandingSF-BlackItalic.ttf"),
    url("/public/fonts/brandingsf/BrandingSF-Bold.ttf"),
    url("/public/fonts/brandingsf/BrandingSF-BoldItalic.ttf"),
    url("/public/fonts/brandingsf/BrandingSF-Light.ttf"),
    url("/public/fonts/brandingsf/BrandingSF-LightItalic.ttf"),
    url("/public/fonts/brandingsf/BrandingSF-Medium.ttf"),
    url("/public/fonts/brandingsf/BrandingSF-MediumItalic.ttf"),
    url("/public/fonts/brandingsf/BrandingSF-SemiBold.ttf"),
    url("/public/fonts/brandingsf/BrandingSF-SemiBoldItalic.ttf"),
    url("/public/fonts/brandingsf/BrandingSF-SemiLight.ttf"),
    url("/public/fonts/brandingsf/BrandingSF-SemiLightItalic.ttf"),
    url("/public/fonts/brandingsf/BrandingSF-Thin.ttf"),
    url("/public/fonts/brandingsf/BrandingSF-ThinItalic.ttf");
}
* {
  font-family: "Branding SF";
}
